.address-edit-container {
  max-width: 500px;
  margin: 0px auto;
  padding: 20px;
}

.address-edit-container .title {
  text-align: center;
  margin-bottom: 60px;
}

.address-edit-container label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

.address-edit-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 20px;
}

.update-btn {
  background-color: #ff5555;
  color: #fff;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 55px;
}

.update-btn:hover {
  background-color: #e53935;
}

.error {
  color: red;
  font-size: 13px;
}