.purchase-container {
  display: flex;
  gap: 30px;
  margin: 30px auto;
  max-width: 1000px;
}

.purchase-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.purchase-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.product-info-box {
  display: flex;
  gap: 20px;
  align-items: center;
}

.purchase-product-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.payment-select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.address-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address-edit {
  color: blue;
  font-size: 14px;
  text-decoration: underline;
}

.summary-box {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 15px;
  background-color: #fafafa;
}


.purchase-btn {
  background-color: #ff5555;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.purchase-btn:hover {
  background-color: #e53935;
}

.purchase-btn.disabled {
  background-color: #ccc;
  cursor: not-allowed;
  pointer-events: none;
}

.error {
    color: red;
    font-size: 16px;
    margin-top: 10px;
    text-align: center; /* ボタンの下で中央寄せ */
}

#card-section {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 6px;
  background-color: #fafafa;
}

#card-errors {
  color: red;
  margin-top: 8px;
  font-size: 13px;
}